*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1 rem = 10px

  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
  @media only screen and (max-width: $bp-smallest) {
    font-size: 37.5%;
  }
}

body {
  box-sizing: border-box;
  padding: 1.5rem 3rem;

  @media only screen and (max-width: $bp-large) {
    padding: 0 1.5rem;
  }
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-white);
}
